<div class="form-container">
  <div class="profile">
    <div class="image-upload-container">
      <label for="profilePic" class="upload-label">
        <img [src]="profilePic" alt="Profile Picture" class="profile-pic-preview" />
      </label>
      <input type="file" id="profilePic" (change)="onImageChange($event)" accept="image/*" hidden />
    </div>
    <p>Press on Image to change it</p>
    <h3 class="doctor-name">Dr. {{name}}</h3>
    <span class="errorFlag">{{errorFlag}}</span>
    <span class="successFlag">{{successFlag}}</span>
  </div>

  <form class="doctor-form">
    <div class="form-box">
      <div class="left">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="name"
            placeholder="Your Full Name"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="email"
            placeholder="Example@Gmail.Com"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]="password"
            placeholder="***************"
            required
          />
        </div>

        <div class="form-group">
          <label for="confirmpassword">Confirm Password</label>
          <input
            type="password"
            id="confirmpassword"
            name="confirmpassword"
            class="form-control"
            [(ngModel)]="confirmPassword"
            placeholder="***************"
            required
          />
        </div>
      </div>

      <div class="middle">
        <div class="form-group date-of-birth">
          <label for="date">Date Of Birth</label>
          <div class="date-of-birth-fields">
            <select [(ngModel)]="birthMonth" name="birthMonth" class="input-field" required>
              <option value="" disabled selected>MM</option>
              <option *ngFor="let month of months" (change)="updateDaysForMonth()"  [value]="month">
                {{ month }}
              </option>
            </select>
            <select [(ngModel)]="birthDay" name="birthDay" class="input-field" required>
              <option value="" disabled selected>DD</option>
              <option *ngFor="let day of days"  (change)="updateDaysForMonth()" [value]="day">{{ day }}</option>
            </select>
            <select [(ngModel)]="birthYear" name="birthYear" class="input-field" required>
              <option value="" disabled selected>YYYY</option>
              <option *ngFor="let year of years" (change)="updateDaysForMonth()"  [value]="year">
                {{ year }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="form-control"
            [(ngModel)]="phone"
            placeholder="+20 30100214231"
            required
          />
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select [(ngModel)]="gender" name="gender" class="input-field" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>


      </div>

      <div class="right">
        <div class="form-group date-of-birth">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            [(ngModel)]="description"
            placeholder="Your Description"
            required
          ></textarea>
        </div>

        <div class="form-group">
          <label for="specialization">Specialization</label>
          <select [(ngModel)]="specialization" name="specialization" class="input-field" required>
            <option value="General Psychological Support" selected>General Psychological Support</option>
            <option value="Mood and Anxiety Disorder Specialist">Mood and Anxiety Disorder Specialist</option>
            <option value="Clinical Depression and Crisis Prevention Specialist">Clinical Depression and Crisis Prevention Specialist</option>

          </select>
        </div>


        <div class="form-group">
          <label for="price">Session Price</label>
          <input
            type="number"
            id="price"
            name="price"
            class="form-control"
            min="100"
            [(ngModel)]="sessionPrice"
            required
          />
        </div>
      </div>

    </div>
  </form>

  <div class="form-button">
    <button class="creative-btn" (click)="editProfile()">Save</button>
  </div>
</div>
