<div class="main-content">
  <!-- Left Panel: Report List -->
  <div class="report-list">
    <h3>Reports</h3>
    <ul >
      <li
      [ngClass]="{ 'disabled': cancelRefundButtonState }"
        *ngFor="let report of reports; let i = index"
        [class.selected]="i === selectedReportIndex"
        (click)="selectReport(i)"
      >
        {{ i + 1 }} Report
      </li>
    </ul>
  </div>

  <!-- Right Panel: Report Details -->
  <div class="report-details-box" *ngIf="selectedReportIndex !== -1">
    <h3>Refund</h3>
    <div class="doctor-info">
      <p><strong>Doctor</strong></p>
      <p>{{ reports[selectedReportIndex].doctor_info.Name }}<br />{{ reports[selectedReportIndex].doctor_info.Email }}<br />
        <a [href]="'tel:' + reports[selectedReportIndex].doctor_info.phone_number" class="phone-link">{{ reports[selectedReportIndex].doctor_info.phone_number }}</a>
      </p>
    </div>

    <div class="reason-info">
      <p><strong>Reason</strong></p>
      <p>{{ reports[selectedReportIndex].reason }}</p>
    </div>

    <div class="response-info">
      <p><strong>Response</strong></p>
      <textarea [(ngModel)]="responseText" placeholder="Write a response..."></textarea>
    </div>

    <div class="action-buttons">

      @if (cancelRefundButtonState) {
      <button class="refund-btn" (click)="cancelRefundOrder()" >Cancel Refund</button>

      }

      <button class="refund-btn" (click)="setRefundOrder()" [disabled]="reports[selectedReportIndex].isRefunded === 1">{{refundButtonText[reports[selectedReportIndex].isRefunded]}}</button>
      <button class="send-btn" (click)="replyFeedback(selectedReportIndex)">Send response</button>
    </div>
  </div>
</div>
