<!-- app.component.html -->
<div class="journal-container">
  <div class="journal-content">
    <h2>My Journal</h2>
    <div class="journal-entries">
      @if(emptyState){
        <div id="noJournals">
          <span >There is no Journals Yet</span>
        </div>
      }
      @else {
        @for ( journal of journals; track $index) {
          <div class="journal-entry">
        <div class="entry-header">
          <span class="entry-date">{{journal.date}} {{journal.time}}</span>
          <button class="delete-btn">
            <img src="delete.png" alt="Delete" (click)="deleteJournal(journal.journal_ID)" />
          </button>
        </div>
        <p>
          {{journal.journal_content}}
        </p>
      </div>
        }
      }


      <!-- Repeat the above div for each journal entry -->
    </div>
    <div class="journal-input">
      <textarea
        placeholder="Type Something..."
        rows="2.5"
        [(ngModel)]="entryContent"
        name="entryContent"
        class="journal-textarea"
      ></textarea>
      <button class="send-btn" (click)="writeJournal()">
        <img src="send button.png" alt="Send" />
      </button>
    </div>
  </div>
</div>
