<!-- app.component.html -->
<div class="profile-container">
  <div class="logout">
    <button class="logout-btn">Log Out</button>
  </div>
  <div class="profile-content">
    <div class="profile-info">
      <img src="profile pic.png" alt="Emily Mark" class="profile-photo" />
      <div class="profile-details">
        <h2>Emily Mark</h2>
        <p>Joined 2/1/2023</p>
        <div class="buttons">
          <button (click)="goToEditProfilePage()" class="profile-btn">
            Edit Profile
          </button>
          <button (click)="goToJournalPage()" class="profile-btn">
            My Journal
          </button>
        </div>
      </div>
    </div>

    <div class="statistics">
      <!-- Therapy Sessions -->
      <div class="stat-item">
        <img src="img1.png" alt="Therapy Sessions" class="stat-img" />
        <div class="stat-number">6</div>
        <div class="stat-label">Therapy Sessions</div>
      </div>
      <!-- Group Sessions -->
      <div class="stat-item">
        <img src="img2.png" alt="Group Sessions" class="stat-img" />
        <div class="stat-number">3</div>
        <div class="stat-label">Group Sessions</div>
      </div>
      <!-- Emergency Team -->
      <div class="stat-item">
        <img src="img3.png" alt="Emergency Team" class="stat-img" />
        <div class="stat-number">1</div>
        <div class="stat-label">Emergency Team</div>
      </div>
    </div>
  </div>
</div>
