/* app.component.css */
.checkout-container {
  background-color: #f0f9ff;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
  height: 80%;
  margin-top: 20px;
  width: 100%;
}

.doctor-info {
  flex: 1;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.doctor-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.doctor-text h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.doctor-text p {
  font-size: 14px;
  color: #666;
}

.appointment-details label {
  display: block;
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
}

.appointment-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.appointment-duration {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.duration-btn {
  background-color: #00b8b8;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.duration-btn.selected {
  background-color: #004d4d;
}

.payment-info {
  flex: 1;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-info h3 {
  color: #00b8b8;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.payment-method {
  margin-bottom: 20px;
}

.payment-method input[type="radio"] {
  margin-right: 10px;
}

.payment-method label {
  font-size: 14px;
}

.payment-details {
  margin-bottom: 20px;
}

.payment-details label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.card-expiry-cvv {
  display: flex;
  gap: 15px;
}

.expiry-cvv {
  flex: 1;
}

.total-amount {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.checkout-btn {
  background-color: #06303e;
  color: white;

  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  width: 220px;
  height: 50px;
}

.checkout-btn:hover {
  background-color: #009c9c;
}

.doctor-upper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
}

.appointment-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.payment-info {
  padding-top: 60px;
}

.payment-info h3 {
  flex: 0.5;
  font-size: 30px;
}
.button-wrapper {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-success {
  background-color: #e9f6fb;
  text-align: center;
  padding: 80px 20px;
  border-radius: 12px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-success h2 {
  font-size: 28px;
  color: #06303e;
  margin-bottom: 30px;
}

.checkmark-circle {
  font-size: 120px;
  color: #06303e;
  border: 8px solid #06303e;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.payment-success h3 {
  font-size: 22px;
  color: #06303e;
  margin-bottom: 10px;
}

.payment-success .transaction {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.payment-success hr {
  width: 200px;
  border: none;
  border-top: 1px solid #00b8b8;
}

.payment-success .amount {
  font-size: 16px;
  color: #333;
}

.payment-success .amount span {
  color: #00b8b8;
  font-weight: bold;
}

.duration-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:100px
}

.duration-btn {
    background-color: #00b8b8;


  transition: background-color 0.3s ease;
}

.duration-btn:hover{
  background-color: #009c9c;

}

.duration-btn.selected {
  background-color: #007d87; /* darker color when selected */

  color: white;
}
