<!-- app.component.html -->
<div class="dashboard-container">
  <div class="card-container">
    <div class="card">
      <div class="card-title">Average Patients</div>
      <div class="card-value">50</div>
    </div>
    <div class="card">
      <div class="card-title">Total Doctors</div>
      <div class="card-value">200</div>
    </div>
    <div class="card">
      <div class="card-title">Total Profit</div>
      <div class="card-value">500,000 L.E</div>
    </div>
    <div class="card">
      <div class="card-title">Salaries Expense</div>
      <div class="card-value">500,000 L.E</div>
    </div>
    <div class="card">
      <div class="card-title">Total Revenue</div>
      <div class="card-value">100,000 L.E</div>
    </div>
    <div class="card">
      <div class="card-title">Total Appointments</div>
      <div class="card-value">200</div>
    </div>
    <div class="card">
      <div class="card-title">Total Coach's</div>
      <div class="card-value">200</div>
    </div>
    <div class="card">
      <div class="card-title">Emergency Teams</div>
      <div class="card-value">200</div>
    </div>
  </div>

  <div class="chart-container">
    <app-line-chart-manager></app-line-chart-manager>
  </div>
</div>
