.analytics-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 600px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tabs button {
  background: transparent;
  border: 2px solid #0099a8;
  padding: 8px 16px;
  cursor: pointer;
}

.tabs .active {
  background: #0099a8;
  color: white;
}

.rating-section h1 {
  font-size: 36px;
  color: #0099a8;
  margin: auto;
}

.stars {
  font-size: 70px;
}

.stars span {
  color: #ccc;
}

.stars .filled {
  color: #0099a8;
}

.rating-bars {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.bar-label {
  width: 80px;
  text-align: left; /* Keep labels aligned to the left */
  font-weight: bold;
}

.bar {
  flex: 1;
  height: 20px;
  background: lightgray;
  border-radius: 10px;
}

.fill {
  height: 20px;
  border-radius: 10px;
}

.chart-section {
  height: 500px;
}
