/* app.component.css */
.session-container {
  background-color: #f0f9ff;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.session-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 620px;
}

.session-info {
  text-align: left;
  padding: 10px;
}

.session-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.session-time {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: end;
}
.session-duration {
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: end;
}
.doctor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.doctor-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.doctor-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.session-duration {
  font-size: 14px;
  color: #666;
}

.session-timer {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #06303e;
  height: 50px;
}
