<!-- app.component.html -->
<div class="session-container">
  <div class="session-content">
    <div class="title"><h2>Upcoming Session</h2></div>
    <div class="session-info">
      <span class="session-title">Session With: Dr. {{session.doctor_name}}</span>
      <span class="session-time">Timing: {{session.date}} , {{session.time}}</span>
      <span class="session-duration">Duration : {{session.duration}} minutes &nbsp; , &nbsp;  Session Method : {{session.communication_type}}</span>

    </div>
    <div class="session-details">
      @if(sessionStarted){
        <app-chat-section
        *ngIf="chatId && userId && userType && receiverId && receiverType"
        [chatId]="chatId"
        [userId]="userId"
        [userType]="userType"
        [receiverId]="receiverId"
        [receiverType]="receiverType"
        style="width: 100%; height: 100%;"
      ></app-chat-section>
      }
      @else {
        <div class="session-waiting">
          <p>Chat will be available after session starts</p>
        </div>
      }
    </div>
    <div class="session-timer">
      <span>Starts in: {{timeLeft}}</span>
      <button (click)="startSession()" [disabled]="!startButtonState" class="startButton">Start Session</button>
    </div>
  </div>
</div>
