@if (!loading) {
  <div  class="spinner-overlay">
    <div class="spinner"></div>
  </div>
}
@else{


  <div class="appointment-container">
    <div class="appointment-content">
      <!-- Left Section: Doctor Info and Calendar -->
      <div class="doctor-info">
        <div class="doctor-details">
          <img src="dr.png" alt="Dr. Mark" class="doctor-photo" />
          <div class="doctor-text">
            <h3>Dr. {{selectedDoctor.doctor_data.Name}}</h3>
            <p>{{selectedDoctor.doctor_data.Specialization}}</p>
            <p>{{"★".repeat(avgRating)}}{{"☆".repeat(5 - avgRating)}}</p>
          </div>
        </div>

        <div class="calendar">
          <div class="month">
            <button (click)="prevMonth()">&#8249;</button>
            <span class="month-text">{{ getMonthYear() }}</span>
            <button (click)="nextMonth()">&#8250;</button>
          </div>
          <button class="today-btn" (click)="goToToday()">Today</button>
          <div class="days">
  <span
    *ngFor="let day of days"
    [class.active]="day === selectedDay"
    (click)="selectDay(day)"
    class="calendar-day"
  >
    <span>{{ day }}</span>
    <div *ngIf="availableDays.includes(day)" class="dot"></div>
  </span>
</div>
      </div>
    </div>

    <!-- Right Section: Available Times -->
    <div class="time-available">
      <h3>Time Available</h3>
      @if(sessionTopic !=""){
      <h3>Topic : {{sessionTopic}}</h3>

      }
      <div class="time-slots">
        @for ( timeSlot of timeTable; track $index) {
          @if (timeSlot.full == 0) {

            <button
                class="time-btn available"
                [ngClass]="{'selected': selectedTime === timeSlot.time}"
                (click)="selectTime(timeSlot.time)">
                {{ timeSlot.time }}
            </button>

          }
          @if (timeSlot.disabled == true || timeSlot.full == 1)  {

            <button
                class="time-btn not-available"
                disabled
                >
                {{ timeSlot.time }}
            </button>

          }

        }
      </div>

      <button (click)="goToCheckoutPage()" class="proceed-btn">Proceed</button>
    </div>
  </div>
</div>

}
