/* Ensure full height layout and centering */
html,
body {
  height: 100%;
  margin: 0;
  background-color: #eaf4f7; /* Optional background for contrast */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0 10px; /* Optional padding for smaller screens */
}

/* Centering container */
.reports-container {
  padding: 20px;
  background-color: #f0f8fc;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  max-height: 100%;
  height: 100%;
}

/* Title */
h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Scrollable table container */
.table-container {
  max-height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  background: white;
  padding: 10px;
  position: relative;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #e5f6fd;
  position: sticky;
  top: 0;
  z-index: 100;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 16px;
  font-weight: bold;
}

td {
  font-size: 14px;
}

/* Buttons */
button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.report-btn {
  background-color: #48a9c5;
  color: white;
  margin-right: 5px;
}



.journal-btn {
  background-color: #0c717d;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 8px;
  position: relative;
}

.modal-content div h3 {
  margin-bottom: 30px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}


/* .modal-overlay button {
  padding: 10px;
  color: black;
  cursor: pointer;
  font-size: 18px;
      font-size: 24px;
    font-weight: bold;
    background-color: transparent;
} */

.delete-btn {
  background: #e74c3c;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s all ease;
}
.delete-btn:hover {
  background: #bb3f31;

}

.view-btn {
  background: #467ac9;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s all ease;
}
.view-btn:hover {
  background: #365e99;

}
