<img src="image.png" id="header" alt="TherapyLink Logo" class="logo" />

<div class="signup-container">
  <div class="left-section">
    <img
      src="soret el mask.png"
      alt="Therapy Illustration"
      class="signup-image"
    />
    <p class="tagline">
      "Find the support you need, connect with the right therapist, and start
      your journey toward healing because everyone deserves a safe space to
      talk."
    </p>
  </div>

  <div class="right-section">
    <h2>Welcome to TherapyLink!</h2>
    <span class="errorFlag">{{errorFlag}}</span>
    <form (submit)="onSubmit()" class="signup-form">
      <label for="full-name">Full Name</label>
      <div class="form-group">
        <input
          type="text"
          id="full-name"
          name="full-name"
          [(ngModel)]="fullName"
          class="input-field"
          placeholder="Full Name"
          required
        />
      </div>


      <label for="full-name">Date Of Birth</label>
      <div class="date-of-birth">

        <select [(ngModel)]="birthMonth" name="birthMonth"  class="input-field" required>
          <option value="" disabled selected>MM</option>
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
        <select [(ngModel)]="birthDay" name="birthDay" class="input-field" required>
          <option value="" disabled selected>DD</option>
          <option *ngFor="let day of days" [value]="day">{{ day }}</option>
        </select>
        <select [(ngModel)]="birthYear" name="birthYear" class="input-field" required>
          <option value="" disabled selected>YYYY</option>
          <option *ngFor="let year of years" [value]="year">
            {{ year }}
          </option>
        </select>

      </div>


      <div class="form-group two-side">

        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender" class="input-field" name="gender" [(ngModel)]="gender" required>
            <option  value="Male" >Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div>
          <label for="status">Martial Status</label>
          <select id="status" class="input-field" name="marital_status" [(ngModel)]="marital_status" required>
              <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
          </select>
        </div>
      </div>

      <label for="phone-number">Phone Number</label>
      <div class="form-group">
        <input
          type="tel"
          id="phone-number"
          name="phone-number"
          [(ngModel)]="phoneNumber"
          class="input-field"
          placeholder="Phone Number"
          required
        />
      </div>

      <label for="email">Email</label>
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          class="input-field"
          placeholder="Email"
          required
        />
      </div>

      <label for="password">Password</label>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          class="input-field"
          placeholder="Password"
          required
        />
      </div>

      <label for="confirm-password">Confirm Password</label>
      <div class="form-group">
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          [(ngModel)]="confirmPassword"
          class="input-field"
          placeholder="Confirm Password"
          required
        />
      </div>

      <button type="submit" class="submit-button">Sign Up</button>
    </form>

    <p class="login-link">
      Already have an account? <a (click)="goToLogin()">Log In</a>
    </p>
  </div>
</div>
