#header {
  width: 300px;
  position: absolute;
  top: 27px;
  left: 42px;
}

.signup-container {
  display: flex;
  justify-content: space-between;
  background-color: #f0f9ff;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.left-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-image {
  max-width: 80%;
  height: auto;
}

.tagline {
  font-size: 25px;
  font-style: italic, bold;
  color: #00b8b8;
  text-align: center;
  margin-top: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

h2 {
  text-align: center;
  color: #00b8b8;
  font-size: 30px;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  color: #333;
}

.input-field {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 12px;
  background-color: #fff;
  margin-bottom: 8px;
}

.submit-button {
  background-color: #00b8b8;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #009c9c;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #00b8b8;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.signup-container img {
  max-width: 50%;
}

.two-side {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
}
.two-side div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
