<!-- app.component.html -->
<div class="doctor-container">
  <div class="doctor-content">
    <!-- Left Section: Doctor List -->
    <div class="doctor-list">
      <h3>{{specialization}}</h3>
      @for (doctor of doctors; track $index) {
        <div class="doctor-item">
        <div>
          <img src="dr.png" alt="Dr. Mark" class="doctor-photo" />
          <div class="doctor-details">
            <span>Dr. {{doctor.doctor_data.Name}}</span>
            <span>4.5 ★</span>
          </div>
        </div>
        <a class="view-link" (click)="selectDoctor(doctor)">View Doctor</a>
      </div>
      }

      <!-- Add more doctor items as needed -->
    </div>

    <!-- Right Section: Doctor Profile -->
    <div class="doctor-profile">
      <div class="doctor-info">
        <img src="dr.png" alt="Dr. Mark" class="doctor-photo" />
        <div class="doctor-details">
          <h4>Dr. {{selectedDoctor.doctor_data.Name}}</h4>
          <p>{{selectedDoctor.doctor_data.Specialization}}</p>
          <p>
            {{selectedDoctor.doctor_data.Description}}
          </p>
        </div>
      </div>

      <!-- Reviews Section -->
      <div class="doctor-reviews">
        <h4>Reviews</h4>
        @for ( review of selectedDoctor.reviews; track $index) {
          <div class="review">
          <span>Rating : {{review.rating}}</span>

          <p>
            {{review.content}}
          </p>
        </div>
        }
      </div>

      <!-- Make Appointment Button -->
      <button (click)="goToMakeAppointmentPage(selectedDoctor)" class="make-appointment-btn">
        Make Appointment
      </button>
    </div>
  </div>
</div>
