<header>
    <div class="left">
      <img src="image.png" alt="" />
      <p>Admin Dashboard</p>
    </div>
    <button>Logout</button>
  </header>
  
  <section>
    <div class="content">
      <router-outlet></router-outlet>
  
      <div class="dashboard-cards">
        <div class="card">
          <p>Total Doctors</p>
          <h2>40</h2>
          <div class="status up">
            <img src="image.png" alt="up icon" />
          </div>
        </div>
  
        <div class="card">
          <p>Total Appointments</p>
          <h2>40</h2>
          <div class="status up">
            <img src="image.png" alt="up icon" />
          </div>
        </div>
  
        <div class="card">
          <p>Total Patients</p>
          <h2>40</h2>
          <div class="status down">
            <img src="image.png" alt="down icon" />
          </div>
        </div>
  
        <div class="card">
          <p>Total Earnings</p>
          <h2>40</h2>
          <div class="status up">
            <img src="image.png" alt="up icon" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <p>admin-dashboard works!</p>
