@if (!loading) {
  <div  class="spinner-overlay">
    <div class="spinner"></div>
  </div>
}
@else {
  <div class="upper">
    <div class="dashboard-cards">
      <div class="card">
        <p>Total Doctors</p>
        <h2>{{total_doctors}}</h2>
      </div>

      <div class="card">
        <p>Total Appointments</p>
        <h2>{{total_appointments}}</h2>
      </div>

      <div class="card">
        <p>Total Patients</p>
        <h2>{{total_patients}}</h2>
      </div>

      <div class="card">
        <p>Average Patients</p>
        <h2>{{average_patients}}</h2>
      </div>

    </div>

    @if (check5) {
      <div class="middle"><app-line-chart [data]="monthCounts"></app-line-chart></div>
    }


  </div>

}
