.dashboard-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  width: 23%;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 2.5em;
  margin: 0 0 20px 0;
  color: #000;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  width: fit-content;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.status.up {
  background-color: #d4f8d4;
  color: #34a853;
}

.status.down {
  background-color: #f8d4d4;
  color: #ea4335;
}

.status img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.table-container {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.bottom table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.bottom th,
.bottom .bottom td {
  text-align: left;
  padding: 8px;
}

.bottom th {
  background-color: #f0f0f0;
}

.bottom button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottom button:hover {
  background-color: #45a049;
}

.bottom td button {
  background-color: #007bff;
}

.bottom td button:hover {
  background-color: #0056b3;
}
