<!-- app.component.html -->
<div class="sessions-container">
  <div class="sessions-content">
    <div class="sessions-column">
      <h3>Upcoming Sessions</h3>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>

      <!-- Add more session items here -->
    </div>

    <div class="sessions-column">
      <h3>Previous Sessions</h3>
      <div class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Session with Dr.Mark</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>
      <div (click)="goToOldSessionPage()" class="session-item">
        <span>2/2/2025</span>
        <span>Group Session</span>
        <span>7:00PM</span>
      </div>

      <!-- Add more session items here -->
    </div>
  </div>
</div>
