
@if(!loading){
  <div  class="spinner-overlay">
    <div class="spinner"></div>
  </div>
}
@else {


  <div class="sessions-container">
    <div class="sessions-content">
      @if(upcomingSessions){
        <div class="sessions-column">
        <h3>Upcoming Sessions</h3>

        @for ( session of upcomingSessions; track $index) {

          <div (click)="goToSessionPage(session)" class="session-item">
          <span>{{session.date}}</span>
          <span>Session with Dr. {{session.doctor_name}}</span>
          <span>{{session.time}}</span>
        </div>
        }

    </div>
      }
      @else {
        <div class="no-sessions-column">
        <h3>There is No Upcoming Sessions</h3>

        </div>
      }

          @if(previousSessions){
        <div class="sessions-column">
        <h3>Previous Sessions</h3>

        @for ( session of previousSessions; track $index) {

          <div (click)="goToOldSessionPage(session)" class="session-item">
          <span>{{session.date}}</span>
          <span>Session with Dr. {{session.doctor_name}}</span>
          <span>{{session.time}}</span>
        </div>
        }

    </div>
      }
      @else {
        <div class="no-sessions-column">
        <h3>There is No Previous Sessions</h3>

        </div>
      }
  </div>
</div>

}
