<div class="container">
    <div class="error-code">
      <div class="character hi-box">
        <span class="speech">Hi</span>
        <div class="megaphone"></div>
      </div>
  
      <span class="digit">4</span>
      <div class="icon">0</div>
      <span class="digit">4</span>
  
      <div class="character question-box">
        <span class="speech">?</span>
        <div class="megaphone"></div>
      </div>
    </div>
  
    <h1>Page not found</h1>
    <p>Sorry, we couldn’t find the page you are looking for</p>
    <button (click)="goHome()">Go to Blog Home</button>
  </div>
  <p>not-found works!</p>
