<!-- app.component.html -->
@if (!loading) {
  <div  class="spinner-overlay">
    <div class="spinner"></div>
  </div>
}
@else {

  <div class="report-container">
    <div class="chart-container">
      @if(chartType == 'line') {
        <app-line-chart [data]="lineChartData"></app-line-chart>
      }
      @else if(chartType == 'pie') {
        <app-pie-chart [chartData]="pieChartData" [chartLabels]="pieChartLabels"></app-pie-chart>
      }
    </div>

    <div class="query-options">
      <div class="query-side">
        <label for="query-select">Query Options</label>
        <select id="query-select" name="queryOption" (change)="generateReport()" [(ngModel)]="queryOption" class="input-field">
          <option>Revenue</option>
          <option>Salaries Expenses</option>
          <option>Total Profit</option>
          <option>Emergency Requests</option>
          <option>Average Patients Monthly Use Count</option>
          <option>Number of Doctors By Specialization</option>
          <option>Number of Life Coaches By Specialization</option>
          <option>Number of Sessions By Therapist type </option>
        </select>
      </div>

      <div class="date-range">
        <div>
          <label for="start-date">From</label>
          <input type="month" id="start-date" name="dateFrom" (change)="generateReport()" [(ngModel)]="dateFrom" class="input-field" />
        </div>

        <div>
          <label for="end-date">To</label>
          <input type="month" id="end-date" name="dateTo" (change)="generateReport()" [(ngModel)]="dateTo" class="input-field" />
        </div>
      </div>
    </div>
  </div>

}
