<!-- app.component.html -->
<div class="chatbot-container">
  <div class="chatbot-content">
    <div class="left-image">
      <img src="soret chatbot.png" alt="ChatBot Icon" class="chatbot-icon" />
    </div>

    <div class="right-content">
      <h2>Welcome To Our ChatBot Test!</h2>
      <p>
        "Your personal assistant for mental well-being is ready to listen,
        guide, and connect you to the support your need."
      </p>
      <button class="start-chatting-btn">Start Chatting</button>
    </div>
  </div>
</div>
