<!-- app.component.html -->
@if(!chatButtonState){
<div class="chatbot-container">
  <div class="chatbot-content">
    <div class="left-image">
      <img src="soret chatbot.png" alt="ChatBot Icon" class="chatbot-icon" />
    </div>

    <div class="right-content">
      <h2>Welcome To Our ChatBot Test!</h2>
      <p>
        "Your personal assistant for mental well-being is ready to listen,
        guide, and connect you to the support your need."
      </p>
      <button class="start-chatting-btn" (click)="changeChatState()">
        Start Chatting
      </button>
    </div>
  </div>
</div>
} @else {
<!-- app.component.html -->
<div class="chatbot-container">
  <div class="chatbot-content">
    <div class="messages-container">
      <div class="message received">
        Iste culpa voluptatem sed earum itaque. Velit cum id consequatur...
      </div>
      <div class="message sent">Magni suscipit eos et praesentium odio at.</div>
      <div class="message received">
        Iste culpa voluptatem sed earum itaque. Velit cum id consequatur...
      </div>
      <div class="message sent">Magni suscipit eos et praesentium odio at.</div>
    </div>
  </div>
  <div class="input-container">
    <input type="text" class="input-field" placeholder="Type Something..." />
    <button class="send-btn">
      <img src="send button.png" alt="Send Icon" />
    </button>
  </div>
</div>

}
