<!-- app.component.html -->

<div class="home-container">
  <div class="left-section">
    <h2>Welcome Emily!</h2>
    <h3>Upcoming Session</h3>
    <div (click)="goToUpcomingSessionPage()" class="session-details">
      <p>Session With: Dr. Magdy</p>
      <p>Timing: 9/1/2025, 7:00 PM</p>
      <div class="timer-container">
        <canvas id="sessionTimer" width="250" height="250"></canvas>
        <div class="timer-text">20 minutes left</div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="emergency"><button class="help-button">Need Help?</button></div>
    <div class="action-buttons">
      <button class="action-button">Change Therapist Preference</button>
      <button (click)="goToDoctorsPage()" class="action-button">
        Choose Doctor
      </button>
      <button (click)="goToChatbot()" class="action-button primary">
        Repeat Chatbot Test
      </button>
    </div>
  </div>
</div>
