/* app.component.css */

.home-container {
  display: flex;
  justify-content: space-between;
  background-color: #e1f1f6;
  padding: 20px 50px;
  border-radius: 10px;
  height: 100%;
}

.left-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-right: 20px;
}

h2 {
  color: #00b8b8;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.session-details p {
  font-size: 14px;
  color: #333;
}
.session-details {
  background-color: white;
  height: 80%;
  width: 80%;
}

.timer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#sessionTimer {
  border: 30px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  width: 50%; /* Make the timer take full container width */
  height: 50%; /* Make the timer take full container height */
}

.timer-text {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  color: #333;
}

.action-buttons {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 25px;
  width: 100%;
  margin-top: 50px;
}

.action-button {
  padding: 12px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  width: 300px;
}

.action-button:hover {
  background-color: #f0f9ff;
}

.primary {
  background-color: #00b8b8;
  color: white;
  border: none;
}

.primary:hover {
  background-color: #009c9c;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
}

.help-button {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  width: 140px;
  height: 50px;
}
.emergency {
  flex: 1;
  display: flex;
  justify-content: end;
  width: 100%;
}

.help-button:hover {
  background-color: #d32f2f;
}
