@if(!loading){
  <div  class="spinner-overlay">
    <div class="spinner"></div>
  </div>
}
@else {
  @if (!showTherapistPreference) {
  <div class="home-container">
    <div class="left-section">
      <h2>Welcome Emily!</h2>
      <h3>Upcoming Session</h3>

      @if(!upcomingSession){
      <div  class="no-session-details">

        <span>No Upcoming Sessions</span>

      </div>

      }

      @else{
      <div (click)="goToUpcomingSessionPage()" class="session-details">
       <div class="upper">
         <p>Session With: Dr. {{upcomingSession.doctor_name}}</p>
        <p>Timing: {{upcomingSession.date}}, {{upcomingSession.time}}</p>
       </div>
        <div id="app">

          <div class="base-timer">
            <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <g class="base-timer__circle">
                <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                <path
                  id="base-timer-path-remaining"
                  stroke-dasharray="283"
                  class="base-timer__path-remaining ${remainingPathColor}"
                  d="
                    M 50, 50
                    m -45, 0
                    a 45,45 0 1,0 90,0
                    a 45,45 0 1,0 -90,0
                  "
                ></path>
              </g>
            </svg>
            <span id="base-timer-label" class="base-timer__label">{{formatTime(timeLeft)}}</span>
          </div>

        </div>
      </div>
      }
    </div>

    <div class="right-section">
      <div class="emergency">
        <button class="help-button">Need Help?</button>
      </div>
      <div class="action-buttons">
        <button class="action-button" (click)="toggleTherapistPreference()">
          Change Therapist Preference
        </button>
        <button (click)="goToDoctorsPage()" class="action-button">
          Choose Doctor
        </button>
        <button (click)="goToChatbot()" class="action-button primary">
          Repeat Chatbot Test
        </button>
      </div>
    </div>
  </div>
}
@else {
  <div class="therapist-selection">
    <h2>Choose Your Therapist!</h2>
    <h3>Type of Therapists</h3>
    <div class="therapist-grid">
      <div
        class="therapist-card"
        *ngFor="let therapist of therapists; let i = index"
        [class.selected]="selectedIndex === i"
        (click)="selectTherapist(i)"
      >
        <img [src]="therapist.image" [alt]="therapist.name">
        <span>{{ therapist.name }}</span>
      </div>
    </div>
    <button class="confirm-button" (click)="saveTherapistPreference()">Confirm</button>
  </div>
}

}
