<div class="analytics-container">
    <!-- Tabs -->
    <div class="tabs">
      <button [class.active]="activeTab === 'rating'" (click)="switchTab('rating')">Rating</button>
      <button [class.active]="activeTab === 'count'" (click)="switchTab('count')">Patient Count</button>
      <button [class.active]="activeTab === 'returning'" (click)="switchTab('returning')">Returning Patient</button>
    </div>

    <!-- Rating Section -->
    <div *ngIf="activeTab === 'rating'" class="rating-section">
      <h2>Overall Rating</h2>
      <h1>{{  averageRating }}</h1>

      <div class="stars">
        <span *ngFor="let star of [1,2,3,4,5]"
              [class.filled]="star <= averageRating">
          ★
        </span>
      </div>
      <p>based on {{totalRatingCount}} reviews</p>

      <div class="rating-bars">
        <div *ngFor="let rate of ratings" class="bar-container">
          <span class="bar-label">{{ rate.label }}</span>
          <div class="bar">
            <div class="fill" [style.width.%]="rate.percentage" [style.background]="rate.color"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Patient Count & Returning Patient -->
    <div *ngIf="activeTab === 'count' " class="chart-section">
      <canvas id="patientChart"></canvas>
    </div>
    <div *ngIf="activeTab === 'returning' && disablePieChart == false" class="chart-section">
      <app-pie-chart [chartData]="pieChartData" [chartLabels]="pieChartLabels"></app-pie-chart>
    </div>
    <div *ngIf="activeTab === 'returning' && disablePieChart == true" class="chart-section">
      <div class="no-data">
        <p>No data available for Total / Returning patients.</p>
      </div>
    </div>
  </div>
